[submodule "base_agent/cpp/libs/msgpack"]
	path = base_agent/cpp/libs/msgpack
	url = https://github.com/msgpack/msgpack-c.git
[submodule "base_agent/cpp/libs/mosquitto"]
	path = base_agent/cpp/libs/mosquitto
	url = https://github.com/eclipse/mosquitto.git
