[submodule "lib/cpp/libs/paho.mqtt.cpp"]
	path = lib/cpp/libs/paho.mqtt.cpp
	url = https://github.com/eclipse/paho.mqtt.cpp.git
[submodule "lib/cpp/libs/paho.mqtt.c"]
	path = lib/cpp/libs/paho.mqtt.c
	url = https://github.com/eclipse/paho.mqtt.c.git
[submodule "lib/cpp/libs/msgpack"]
	path = lib/cpp/libs/msgpack
	url = https://github.com/msgpack/msgpack-c.git
[submodule "lib/cpp/libs/json"]
	path = lib/cpp/libs/json
	url = git@github.com:nlohmann/json.git
